$color-primary: rgba( 38,114, 87,1);
$color-primary-1: rgba(114,171,151,1);
$color-primary-2: rgba( 71,142,117,1);
$color-primary-3: rgba( 14, 85, 60,1);
$color-primary-4: rgba(  0, 57, 37,1);

$color-complement: rgba(170, 93, 57,1);
$color-complement-1: rgba(255,198,170,1);
$color-complement-2: rgba(212,141,106,1);
$color-complement-3: rgba(128, 56, 21,1);
$color-complement-4: rgba( 85, 28,  0,1);

$color-fail: rgba(170, 67, 57,1);
$color-fail-1: rgba(255,178,170,1);
$color-fail-2: rgba(212,116,106,1);
$color-fail-3: rgba(128, 31, 21,1);
$color-fail-4: rgba( 85,  8,  0,1);

$color-success: rgba( 43,128, 62,1);
$color-success-1: rgba(128,193,143,1);
$color-success-2: rgba( 80,161, 98,1);
$color-success-3: rgba( 16, 96, 34,1);
$color-success-4: rgba(  0, 64, 14,1);

$color-text: #222;
$color-text-inverted: #eee;
