// Palette URL: http://paletton.com/#uid=a3w0H0kllllaFw0g0qFqFg0w0aF */
$color-primary: rgba( 41, 81,109,1);	// Main Primary color */
$color-primary-1: rgba(112,142,164,1);
$color-primary-2: rgba( 72,110,136,1);
$color-primary-3: rgba( 18, 55, 82,1);
$color-primary-4: rgba(  3, 33, 54,1);

$color-complement: rgba(170,121, 57,1);	// Main Complement color */
$color-complement-1: rgba(255,218,170,1);
$color-complement-2: rgba(212,166,106,1);
$color-complement-3: rgba(128, 81, 21,1);
$color-complement-4: rgba( 85, 48,  0,1);

$color-fail: rgb(249, 79, 62);
$color-fail-1: rgba(255,178,170,1);
$color-fail-2: rgba(212,116,106,1);
$color-fail-3: rgba(128, 31, 21,1);
$color-fail-4: rgba( 85,  8,  0,1);

$color-success: rgba( 43,128, 62,1);
$color-success-1: rgba(128,193,143,1);
$color-success-2: rgba( 80,161, 98,1);
$color-success-3: rgba( 16, 96, 34,1);
$color-success-4: rgba(  0, 64, 14,1);

$color-text: #222;
$color-text-inverted: #eee;

$md: 768px;