@import '../../variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: $color-primary;
}

.form {
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 0.4em;

  form {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.hasError {
    border-bottom-color: $color-fail;
  }
}

.inputField {
  width: 100%;
  margin-bottom: 1em;

  input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0.2em;
    padding: 0.8em;
    outline: none;

    &:disabled {
      background-color: #fff;
      color: $color-text;
    }
  }

  &.hasError input {
    border-bottom-color: $color-fail;

    &::placeholder {
      color: $color-fail-2;
    }
  }
}

.error {
  color: $color-fail-2;
}

.formContainer {
  align-self: center;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5%;
}

.loginButton {
  background-color: $color-primary;
  border: none;
  padding: 0.7em;
  color: #fff;
  border-radius: 0.2em;
  width: 70%;
  font-size: 1.2em;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-2;
  }

  &:active {
    background-color: $color-primary-3;
  }

  &:disabled {
    pointer-events: none;

    &:hover {
      background-color: $color-primary;
    }
  }
}

.loader {
  display: none;

  &.isLoading {
    display: inline-block;
    width: 0;

    &:after {
      // ensure animation
      overflow: hidden;
      display: inline-block;

      // align periods
      vertical-align: bottom;

      // set up initial condition for the animation
      width: 0px;

      // ascii code for ellipsis
      content: "\2026";

      // run the animation, edit by changing steps and width
      animation: ellipsis steps(4,end) 900ms infinite;
    }
  }
}

// edit the animation by changing steps and width
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.formErrors {
  display: flex;
  width: 100%;
}

.formError {
  color: $color-fail;
  padding: 0.6em;
}
