version: '3'
services:
  store:
    image: "{{ store_docker_repository }}:{{ store_docker_tag }}"
    volumes:
      - "{{ hot_data_dir }}/store:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: {{ hot_store_db_user }}
      POSTGRES_PASSWORD: {{ hot_store_db_password }}
      POSTGRES_DB: {{ hot_store_db_name }}

  docs:
    image: "{{ docs_docker_repository }}:{{ docs_docker_tag }}"
    environment:
      HOST: "0.0.0.0"
      PORT: "80"

  ei:
    image: "{{ ei_docker_repository }}:{{ ei_docker_tag }}"
    environment:
      ROARR_LOG: "true"
      HOST: "0.0.0.0"
      PORT: "80"
    depends_on:
      - store

  standup-ui:
    image: "{{ standup_ui_docker_repository }}:{{ standup_ui_docker_tag }}"
    environment:
      REACT_APP_EI_URL: "{{ hot_ei_url }}"
      REACT_APP_PMS_URL: "{{ hot_pms_url }}"
      HOST: "0.0.0.0"
      PORT: "80"
    depends_on:
      - store
      - ei
      - pms

  pms:
    image: "{{ pms_docker_repository }}:{{ pms_docker_tag }}"
    environment:
      DB_USERNAME: "{{ hot_pms_db_user }}"
      DB_PASSWORD: "{{ hot_pms_db_password }}"
      DB_NAME: "{{ hot_pms_db_name }}"
      DB_HOST: "{{ hot_pms_db_host }}"
      DB_PORT: "{{ hot_pms_db_port }}"
      HOST: "0.0.0.0"
      PORT: "80"
    depends_on:
      - store
